
.iksweb{display: inline-block;cursor: pointer; font-size:35px;text-decoration:none;padding:21px 45px; color:#531457;background:#c6abcf;border-radius:14px;border:13px solid #c4c0d1;}

.iksweb:hover{background:#354251;color:#ffffff;border:13px solid #354251;transition: all 0.2s ease;}
